@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --swiper-navigation-color: #ffffff;
  --swiper-pagination-color: #ffffff;
  --swiper-pagination-fraction-color : #ffffff;
  --swiper-pagination-bottom: 0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-ibm-plex-sans-thai);
  --color-primary-100: #7c64a3;
  --color-primary-200: #694d96;
  --color-primary-300: #573789;
  --color-primary-400: #44217C;
  --color-primary-500: #3d1e70;
  --color-primary: var(--color-primary-400);
  --color-secondary-100: #ff73c6;
  --color-secondary-200: #ff5fbd;
  --color-secondary-300: #ff4bb5;
  --color-secondary-400: #ff37ad;
  --color-secondary-500: #e6329c;
  --color-secondary-600: #cc2c8a;
  --color-secondary-700: #b32779;
  --color-secondary-800: #992168;
  --color-secondary: var(--color-secondary-400);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  padding: 0;
}

.bg-gold {
  /* background: linear-gradient(100deg, #FCF6BA 0%, #AA771C 100%); */
  color: #ffffff;
  background: #ddaa14;
}

.bg-silver {
  color: #ffffff;
  background: #c0c0c0;
}

.bg-bronze {
  color: #ffffff;
  background-color: #884ea0;
}

#award_winners {
  background: url('/full-width_bg-tiny.webp');
  @apply bg-cover bg-no-repeat min-h-[600px] bg-fixed;
}

@media screen and (max-width: 767px) {
  #award_winners {
    background: url('/winner-mob-bg.webp');
    background-size: cover;
    background-attachment: local;
    
  }
}
