@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-ibm-plex-sans-thai);
  --color-primary-100: #7c64a3;
  --color-primary-200: #694d96;
  --color-primary-300: #573789;
  --color-primary-400: #44217C;
  --color-primary-500: #3d1e70;
  --color-primary: var(--color-primary-400);
  --color-secondary-100: #ff73c6;
  --color-secondary-200: #ff5fbd;
  --color-secondary-300: #ff4bb5;
  --color-secondary-400: #ff37ad;
  --color-secondary-500: #e6329c;
  --color-secondary-600: #cc2c8a;
  --color-secondary-700: #b32779;
  --color-secondary-800: #992168;
  --color-secondary: var(--color-secondary-400);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  padding: 0;
}
